<div id="hideyournoses-page" class="modal">

  <!-- Modal content -->
  <div class="close_div">
    <span class="close" routerLink=''  routerLinkActive="active">&times;</span>
  </div>

  <div class="modal-content hideyournoses_content" >
    <div class="text-container">
      <p>
        In these, extraordinary times, when pandemic and masks are the new norms in this world when people and business are adapting to this very new reality, we still can see way too many people who don't understand or don't have the knowledge, that properly worn mask can save people lives and their communities from hardships.
        This is a bright and funny reaction to this problem, that hopefully, will remind people to wear their masks properly.
      </p>
    </div>

<iframe src="https://player.vimeo.com/video/482752111?h=8242c3d194&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/3ba870108361565.5fbc29f4042dd.jpg" alt="">
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/47831b108361565.5fbc29f402a57.jpg" alt="">
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/8e8492108361565.5fbc32e87f76b.gif" alt="">
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/6d4af7108361565.5fbc29f403b74.png" alt="">
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/6d4144108361565.5fbc32e87ff9b.png" alt="">
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/fc9968108361565.5fbc32e880766.jpg" alt="">
  </div>

</div>
