<section class="about__section">
    <div class="about__name">
    <h1>Edvinas Reikalas</h1>
    
</div>
<img src="./../../../assets/about_photo.png" alt="" class="about__img">
<div class="about__intro">
    <h2>Animatorius/iliustratorius</h2>
    <div class="about__intro-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla a cursus augue. Sed pharetra rutrum erat, tristique 
        dignissim sapien egestas sit amet. In volutpat nisi sit amet 
        ipsum aliquet dignissim. Pellentesque ahabitant morbi 
        tristique senectus et netus et malesuada fames ac turpis 
        egestas. 
    </div>
</div>
</section>

