<section class="about__section">
    <div class="bigger-screen">
        <div class="first_section">
        <div class="about__name">
            <h1>Edvinas Reikalas</h1>
    
        </div>
        <div class="about__picture">
            <img src="./../../../assets/about_photo-mobile.png" alt="" class="about__img-mobile">
            <img src="./../../../assets/about_photo.png" alt="" class="about__img-desktop">
        </div>
        </div>
        

        <div class="about__intro">
            <h2>Animatorius/iliustratorius</h2>
            <p class="about__intro-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nulla a cursus augue. Sed pharetra rutrum erat, tristique 
                dignissim sapien egestas sit amet. In volutpat nisi sit amet 
                ipsum aliquet dignissim. Pellentesque ahabitant morbi 
                tristique senectus et netus et malesuada fames ac turpis 
                egestas. 
            </p>
        </div>
    </div>
    
</section>

