<div id="openhouse2021-page" class="modal">

  <!-- Modal content -->
  <div class="close_div">
    <span class="close" routerLink=''  routerLinkActive="active">&times;</span>
  </div>

  <div class="modal-content openhouse2021_content" >
    <img class="media" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/347c71123331841.60ec7c13ce182.jpg" alt="">
<iframe src="https://player.vimeo.com/video/574081719?h=52d458040a&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<div class="text-container media">
  <p>Short 2D animated commercial for “Open House Vilnius” A festival held in Vilnius, Lithuania. Over the weekend the citizens of the capital city get a chance to participate in various events and excursions and to inform themselves about the architecture and the aesthetics surrounding them. The mission of the festival is to bring knowledge of the architecture of Vilnius closer to the regular pedestrian.
Client - Architekturos Fondas / Illustration - Stasele Jakunskaite / Animation - Edvinas Reikalas / Audio - Deep Shoq</p>
</div>
<div class="row-gifs">
  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2a2183123331841.60ee022660e09.gif" alt="">
  <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d8ee08123331841.60ee0226607d9.gif" alt="">
</div>
  </div>

</div>
