section{
    position: relative;
    width: 232px;
    height: 145px;
    /* left: 73px; */
    top: 1507px;
    margin: 0 auto;
    width: 80vw;
}
hr{
    position: absolute;
    width: 80vw;
    height: 0px;
    

    border: 0.5px solid rgba(73, 87, 211, 0.05);
}
section .socials{
    position: relative;
    display: flex;
    
    top: 26px;
}
.socials a{
    position: relative;
    width: 37px;
    height: 36px;

}
.footer__contact{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 99px;
    /* left: 73px; */
    top: 28px;
    

    font-family: Playfair Display;
    font-size: 15px;
    line-height: 50px;
    /* or 333% */

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    color: #4957D3;

    mix-blend-mode: normal;
}
.footer__name-phone{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-around;
}
.footer__end{
    position: relative;
    height: 75px;
    top: 9px;
    
}

/* --------------- */
/* MEDIA QUERIES  */
@media screen and (min-width: 375px){
    section{
        top: 1807px;
    }
    section .socials{
        justify-content: space-between;
    }
}
@media screen and (min-width: 461px){
    section{
        top: 1920px;
    }
    section .socials{
        justify-content: space-evenly;
    }
    .footer__contact{
        justify-content: space-around;
        flex-direction: column;
        width: 70vw;
    }
}
@media screen and (min-width: 491px){
    section{
        top: 2020px;
    }
}
@media screen and (min-width: 520px){
    section{
        top: 2150px;
    }
}
@media screen and (min-width: 550px){
    section{
        top: 2370px;
    }
}
@media screen and (min-width: 597px){
    section{
        top: 2870px;
    }
    .footer__contact{
        flex-direction: row;
        width: 423px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 715px){
    section{
        top: 3030px;
    }
}
@media screen and (min-width: 750px){
    section{
        top: 960px;
    }
}
@media screen and (min-width: 904px){
    section{
        top: 1160px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1069px){
    section{
        top: 1360px;
    }
}
@media screen and (min-width: 1170px){
    
    section{
        top: 1760px;
        width: 80vw;
        height: 99px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 65px;
    }
    
    .socials{
        width: 196px;
        justify-content: space-between;
        margin-top: 62px;
    }
    
    .footer__contact{
        margin-top: 62px;
        width: 746px;
        justify-content: space-around;
        flex-direction: row;
    }
    .footer__name-phone{
        justify-content: space-between;
        width: 330px;
    }
}