<!-- <hr class="second-hr"> -->
<section class="footer__section">
    <hr class="second-hr">
    <div class="socials">
        <a href="https://www.facebook.com/edvinas.reikalas">
            <img src="../../../assets/footer__fb.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/thinkofmotion/">
            <img src="../../../assets/footer__ig.png" alt="instagram">
        </a>
        <a href="https://vimeo.com/user96640340">
            <img src="../../../assets/footer__vimeo.png" alt="vimeo">
        </a>
    </div>
    <div class="footer__contact">
        <div class="footer__name-phone">
            <p>Edvinas Reikalas</p>
            <p>+37063190593</p>
        </div>
        
        <p>animation@edvinasrei.lt</p>
    </div>
    <div class="footer__end">
        
    </div>
</section>