
section{
    position: relative;
    width: 232px;
    height: 145px;
    /* left: 73px; */
    top: 2509px;
    margin: 0 auto;
}
hr{
    position: absolute;
    width: 300px;
    height: 0px;
    left: -30px;

    border: 0.5px solid rgba(73, 87, 211, 0.05);
}
section .socials{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 26px;
}
.socials a{
    position: relative;
    width: 37px;
    height: 36px;

}
.footer__contact{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 99px;
    /* left: 73px; */
    top: 28px;
    

    font-family: Playfair Display;
    font-size: 15px;
    line-height: 50px;
    /* or 333% */

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    color: #4957D3;

    mix-blend-mode: normal;
}
.footer__name-phone{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-around;
}
.footer__end{
    position: relative;
    height: 75px;
    top: 9px;
    
}

/* --------------- */
/* MEDIA QUERIES  */
@media screen and (min-width: 538px){
    hr{
        width: 90vw;
        left: 0px;
    }
    section{
        width: 1239px;
        height: 99px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 65px;
    }
    
    .socials{
        width: 196px;
        justify-content: space-between;
        margin-top: 62px;
    }
    
    .footer__contact{
        margin-top: 62px;
        
        width: 746px;
        justify-content: space-around;
        flex-direction: row;
    }
    .footer__name-phone{
        justify-content: space-between;
        width: 330px;
    }
}