<!-- <hr class="second-hr"> -->
<section class="footer__section">
    <hr class="second-hr">
    <div class="socials">
        <a href="">
            <img src="../../../assets/footer__fb.png" alt="">
        </a>
        <a href="">
            <img src="../../../assets/footer__ig.png" alt="">
        </a>
        <a href="">
            <img src="../../../assets/footer__vimeo.png" alt="">
        </a>
    </div>
    <div class="footer__contact">
        <div class="footer__name-phone">
            <p>Edvinas Reikalas</p>
            <p>+37063190593</p>
        </div>
        
        <p>animation@edvinasrei.lt</p>
    </div>
    <div class="footer__end">
        
    </div>
</section>