<div id="givvery-page" class="modal">

  <!-- Modal content -->
  <div class="close_div">
    <span class="close" routerLink=''  routerLinkActive="active">&times;</span>
  </div>

  <div class="modal-content giverry_content" >
<iframe src="https://player.vimeo.com/video/326425511?h=5197c2079b&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/5cde1278028409.5c99df84dd07f.jpg" alt="">
  </div>

</div>
