<div id="sausio13-page" class="modal">

  <!-- Modal content -->
  <div class="close_div">
    <span class="close" routerLink=''  routerLinkActive="active">&times;</span>
  </div>

  <div class="modal-content sausio13_content" >

    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9a6c03112069507.600dea422a836.jpg" alt="">
    <iframe src="https://player.vimeo.com/video/504091537?h=cfbcf9ab9b&title=0&byline=0&portrait=0" width="640" height="640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/6d39fb112069507.600e78dedba11.jpg" alt="">
    <img class="sausio13_content-star" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b6bda8112069507.600deb71204d8.gif" alt="">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9a6c03112069507.600dea422a836.jpg" alt="">
  </div>

</div>
