<section class="work__section">
    <div class="work__navigation">
        <h1 class="work__title">Darbai</h1>
    </div>
    <hr class="work__hr">
    <div class="work__list">
        <div class="work__list-item work__juru-muziejus"></div>
        <div class="work__list-item work__sausio-13"></div>    
        <div class="work__list-item work__open-house-2020"></div>
        <div class="work__list-item work__open-house-2021"></div>
        <div class="work__list-item work__hide-noses"></div>
        <div class="work__list-item work__givvery"></div>
        <div class="work__list-item work__zydu-muziejus"></div>
    </div>
</section>
