<section class="work__section">
    <div class="work__navigation">
        <h1 class="work__title">Darbai</h1>
    </div>
    <hr class="work__hr">

    <div class="container">
        <div class="row">
            <div class="col">
                <img class="work__image" src="./../../../assets/work__juru-muziejus_L.png" alt="">
                <div class="work__overlay work__juru-muziejus">
                    <div class="work__overlay-title">Lietuvos Jūrų Muziejus</div>
                    <p class="work__overlay-year">2021</p>
                </div>
            </div>
            <div class="col">
                <img class="work__image sausio13_img" src="./../../../assets/work__sausio-13-L.png" alt="">
            <div class="work__overlay work__sausio-13-text">
                <div class="work__overlay-title">Sausio 13 d.</div>
                <p class="work__overlay-year">2021</p>
            </div>
            </div>
            <div class="col">
                <img class="work__image openhouse2020_img" src="./../../../assets/work__open-house-2020_L.png" alt="">
                <div class="work__overlay work__open-house-2020-text">
                    <div class="work__overlay-title">Open House</div>
                    <div class="work__overlay-year">2020</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="work__image" src="./../../../assets/work__open-house-2021_L.png" alt="">
                    <div class="work__overlay">
                        <div class="work__overlay-title">Open House</div>
                        <div class="work__overlay-year">2021</div>
                    </div>
            </div>
            <div class="col">
                <img class="work__image" src="./../../../assets/work__hide-nosesL.png" alt="">
                    <div class="work__overlay">
                        <div class="work__overlay-title">Hide Your Noses</div>
                        <div class="work__overlay-year">2021</div>
                    </div>
            </div>
            <div class="col">
                <img class="work__image" src="./../../../assets/work__givvery_L.png" alt="">
                    <div class="work__overlay">
                        <div class="work__overlay-title">Givvery</div>
                        <div class="work__overlay-year">2019</div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="work__image" src="./../../../assets/work__zydu-muziejus_L.png" alt="">
                    <div class="work__overlay">
                        <div class="work__overlay-title">VGŽIM</div>
                        <div class="work__overlay-year">2021</div>
                    </div>
            </div>
            <div class="col-sm-8 papildykime_field">
                <p class="work__list-text papildykime-desktop">Papildykime?</p>
            </div>
            
        </div>
    </div>
 
</section>
