.work__navigation h1, .work__list-text, .work__overlay{
    font-family: Playfair Display;
}
.work__section{
    position: absolute;
    top: 698px;
}
.work__navigation h1{
    position: relative;
    width: 116px;
    height: 35px;
    left: 30px;
   
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: #4957D3;
}
hr{
    position: relative;
    width: 300px;
    height: 0px;
    left: 30px;
    top: 19px;
    border: 0.5px solid rgba(73, 87, 211, 0.05);   
}
.work__image{
    position: relative;
    width: 360px;
    height: 218px;
    left: 0px;
}
.work__image--image{
    display: block;
    
    width: 100%;
}
.work__list-item{
    display: block;
    width: 100%;
    position: absolute;
    }
.work__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 218px;
    background: rgba(73, 87, 211, 0.8);
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
   transition: opacity 0.25s;
}
.work__overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.work__overlay:hover,  .work__overlay:active> * {
    transform: translateY(0);
}
.work__overlay:hover, .work__overlay:active{
    opacity: 1;
}
.work__overlay-title{
    width: 187px;
    font-weight: 700;
    color: #F6F6F6;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.work__overlay-year{
    height: 40px;
    width: 39px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    display: flex;
    color: #F6F6F6;
}

.juru-muziejus, 
.sausio-13, 
.open-house-20, 
.open-house-21,
.hide-noses,
.givvery,
.zydu-muziejus{
    display: flex;
    position: relative;
    width: 360px;
    height: 218px;
}
.juru-muziejus{
    top: 45px;
}
.work__juru-muziejus{
    top: 0px;
}
.sausio-13, 
.open-house-20, 
.open-house-21,
.hide-noses,
.givvery,
.zydu-muziejus{
    top: 45px; 
}

.work__papildykime{
    background-color: #4957D3;
    top: 1572px;
    display: flex;
}
.work__papildykime .work__list-text{
    position: relative;
    display: flex;
    width: 334px;
    height: 191px;
    padding-left: 30px;
    top: 10px;
    align-items: center;

    font-size: 76px;
    font-weight: 800;
    line-height: 80px;
    /* or 105% */


    color: #FFFFFF;
}