<nav>
    <div class="name">
        <p class="nav__Edvinas">Edvinas Reikalas</p>
    </div>
    
    <a href="">
        <div class="hamburger">
            <div class="nav__hamburger-line first"></div>
            <div class="nav__hamburger-line second"></div>
            <div class="nav__hamburger-line third"></div>
        </div>
        
    </a> 
        <div class="meniu">
            <a class="meniu_a" href="#about-me"><p class="meniu_item">Apie mane</p></a>
            <a class="meniu_a" href="#work"><p class="meniu_item">Darbai</p></a>
            <a class="meniu_a" href="#contact-me"><p class="meniu_item">Susisiekime?</p></a>
        </div>
    <div class="underline">
       <hr>  
    </div>
   
</nav>

