<div id="openhouse2020-page" class="modal">

  <!-- Modal content -->
  <div class="close_div">
    <span class="close" routerLink=''  routerLinkActive="active">&times;</span>
  </div>

  <div class="modal-content openhouse2020_content" >
    <div class="textblock">
      <h5>Poster for Open House Vilnius 2020</h5>
      <p>This year I was lucky enough to be responsible for the visual of Open House Vilnius by winning the poster competition organised by OHV team.</p>
      <p>The topic of this yearʼs festival was <span> <b>“Building Narratives”</b></span> . </p>
      <p>“Open House Vilnius” is a festival held in Vilnius, Lithuania. Over the weekend the citizens of the capital city get a chance to participate in various events and excursions and to inform themselves about the architecture and the aesthetics surrounding them. The mission of the festival is to bring the knowledge of the architecture of Vilnius closer to the regular pedestrian.</p>
      <i>The logo and the visual identity — Lina Marcinonytė</i><br>
      <i>Animation — Edvinas Reikalas</i>
    </div>

  <iframe class="media" src="https://player.vimeo.com/video/457308944?h=4d158a06c3&title=0&byline=0&portrait=0" style="position:relative;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<script src="https://player.vimeo.com/api/player.js"></script>

<!-- <div class="textblock">
  <p>
    <i>The poster depicts images of Vilnius buildings reflected in spectacle lenses. Like the shots of the film they go one after another. Stories about urban spaces are created by the society, what that story will be, depends on the particular community living at the time and its experiences are ever-changing, although the urban objects themselves may remain the same as before. The people in the illustration are closely connected, as if extending each other, acquiring the monumental characteristic of architecture: architecture is a reflection of society, and for public discourse the individual is not enough, a close group of people is needed.
    </i>
  </p>
</div> -->

</div>

</div>
